ArtifactDB filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/ArtifactDB filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/19/19e6aaae15d35c207bae9f3913a6a127 filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/36/366639dd2ec154e0852a617358d0a02f filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/38/388ba397960428d58baf174bc6659c55 filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/39/39d7147c799ba781ec5cf0350512b186 filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/43/43dcd7f240da302d530b2a3a1361ba7e filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/45/451fcaff7c50d00e68880eb336bfa92a filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/4c/4c22589a9096e292bc000d45f0778a16 filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/59/5954f4d70b56b472cbac4d322f0af3a7 filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/59/5960bcc4791164d954b60dbd4dcc5c36 filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/68/689ce33e27b0c18b2907930d93f0ad4c filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/6c/6c9d04392fffa2048801486520271f80 filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/7e/7e89d1af257998cf113ac0bb9c622d59 filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/99/99321c8532f626558fcdea8a2644e1c3 filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/bd/bd23ed95e22db8d02a139b55714d499c filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/ce/ce0fb327dc40b54b5a7f77d7a7c2699e filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/d0/d085842d5f18ddab020074b3bac26633 filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/d4/d43a3da602cefdcadb59365ba55b626b filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/d6/d668e7f88e4201d6ab75529fd79d3de3 filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/d7/d72cce5bff50d6097847d0fd2ed387a0 filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/e1/e16b5d5d0c1c6bbdf4db6f08e178eb57 filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/e5/e5836bffc09ea3edfdaa273ca7bc9f9c filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/e8/e8d96e62336a53323513d25f837fb1b5 filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/ec/ec28b073e3d829ad7e9d5d45287ef8f0 filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/f2/f241a9ade91a8f4728e531741bcaeb60 filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/f7/f7e9389c41995a12135500a281d39255 filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.PNG filter=lfs diff=lfs merge=lfs -text
*.cs filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
*.bundle filter=lfs diff=lfs merge=lfs -text
*.anim filter=lfs diff=lfs merge=lfs -text
*.psb filter=lfs diff=lfs merge=lfs -text
*.meta filter=lfs diff=lfs merge=lfs -text
*.unity filter=lfs diff=lfs merge=lfs -text
*.ttf filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/SourceAssetDB filter=lfs diff=lfs merge=lfs -text
*.catalog filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/12/12e822bd3a0a927b4005a6415d07aecb filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/1a/1a0b81c033c3a205672c08a5b3ce925e filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/1e/1e97f2f6669866f37d897b3a30b7285e filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/27/278fe553903d475a49babc99d8c7b55b filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/32/3200ac76ed6c2abbc330a20176b61c91 filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/32/32d1207994e6cf2c9ec1c9e430191fe8 filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/3d/3dbb0f62cb5252d84382b1a70b322806 filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/42/421c52aecf8d2cbeb52ae9218cefd5e6 filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/4c/4c159a3c31282b888fc0fa388f5aadd2 filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/54/54925579d1b9a1bcc37238124990b40f filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/6c/6c630174720650edbb2549fb33898402 filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/76/76f643cb8120727aeb234258c8528b8a filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/80/80e9bfe5881cc39a4d3a15192e7ef696 filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/81/81026c4e5c4de8d588f8db5eb44db1f2 filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/8f/8f3b81715c3673fbe13aee59801bddd9 filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/8f/8f80cc5a60083a90118678142e85e554 filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/97/9785b44cf1aea0569e08c740e09528a7 filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/bf/bfd36a2895248b89c4cc9985890a6d31 filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/c1/c1e403694f059f1533fb1f754e5d64e5 filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/c4/c4bf9f134c2931620f417d901869df65 filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/d3/d3e8ad5c3e551c10c651ccdb78d28471 filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/da/da0188cced72d361e9bafadd008fb324 filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/f3/f332e20b2ab73c62ca288e4fbdcb0eaf filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/fc/fc318577cb1a3f5bdf19847bfa00a75d filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/fd/fd96ce1c1b1964b3badf2936f3d9aa98 filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/57/5798ab6f940a146276f93f10de01230a filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/66/6696e474af53bfd68e69f41631903d28 filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/69/6996a67758f69fb814ddd7fbb8c871f2 filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/7d/7d30b5f749966f962e1bb3177fa25950 filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/94/9473d3507b1b5ce35007195a6b072be4 filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/a4/a4891d8d6a1b2bc2c67e94c89455d60f filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/af/afd659c91237e7717719a8de68e6de4d filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/bd/bd6e593a8cbb165402ce998073fbf4a5 filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/fc/fca34794977dcde42a352c999ddd41f8 filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/fd/fdf4c279eef02656f5d97f77b7ee2c13 filter=lfs diff=lfs merge=lfs -text
*.sdxml filter=lfs diff=lfs merge=lfs -text
*.cache filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/43/434ac82bef9a03009024e5a250a4c6cc filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/e7/e765e9c3b7bd8b56aa146c4786a03a89 filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.asset filter=lfs diff=lfs merge=lfs -text
