/HotandCold/Library/ArtifactDB filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/19/19e6aaae15d35c207bae9f3913a6a127 filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/36/366639dd2ec154e0852a617358d0a02f filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/38/388ba397960428d58baf174bc6659c55 filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/39/39d7147c799ba781ec5cf0350512b186 filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/43/43dcd7f240da302d530b2a3a1361ba7e filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/45/451fcaff7c50d00e68880eb336bfa92a filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/4c/4c22589a9096e292bc000d45f0778a16 filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/59/5954f4d70b56b472cbac4d322f0af3a7 filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/59/5960bcc4791164d954b60dbd4dcc5c36 filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/68/689ce33e27b0c18b2907930d93f0ad4c filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/6c/6c9d04392fffa2048801486520271f80 filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/7e/7e89d1af257998cf113ac0bb9c622d59 filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/99/99321c8532f626558fcdea8a2644e1c3 filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/bd/bd23ed95e22db8d02a139b55714d499c filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/ce/ce0fb327dc40b54b5a7f77d7a7c2699e filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/d0/d085842d5f18ddab020074b3bac26633 filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/d4/d43a3da602cefdcadb59365ba55b626b filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/d6/d668e7f88e4201d6ab75529fd79d3de3 filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/d7/d72cce5bff50d6097847d0fd2ed387a0 filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/e1/e16b5d5d0c1c6bbdf4db6f08e178eb57 filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/e5/e5836bffc09ea3edfdaa273ca7bc9f9c filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/e8/e8d96e62336a53323513d25f837fb1b5 filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/ec/ec28b073e3d829ad7e9d5d45287ef8f0 filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/f2/f241a9ade91a8f4728e531741bcaeb60 filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/Artifacts/f7/f7e9389c41995a12135500a281d39255 filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.PNG filter=lfs diff=lfs merge=lfs -text
*.cs filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
*.bundle filter=lfs diff=lfs merge=lfs -text
*.anim filter=lfs diff=lfs merge=lfs -text
*.psb filter=lfs diff=lfs merge=lfs -text
*.meta filter=lfs diff=lfs merge=lfs -text
*.unity filter=lfs diff=lfs merge=lfs -text
*.ttf filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
/HotandCold/Library/SourceAssetDB filter=lfs diff=lfs merge=lfs -text
*.catalog filter=lfs diff=lfs merge=lfs -text
